
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Starter Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/common.css>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>
  <body>
   
<main role="main" class="container">

  <div class="starter-template">
    <h1>Action </h1>
    <form action="/action" method="POST">
            <div class="form-group">
              <label for="permissionName">Name</label>
              <input type="text" class="form-control" id="permissionName" name="permissionName" >
             </div>
             
            <div class="form-check">
                    <input class="with-gap" type="radio" name="IsGlobal" id="global" value="true" checked>
                    <label for="global">Global</label>
              <input class="with-gap" type="radio" name="IsGlobal" id="notglobal" value="false">
      <label for="notglobal">Not Global</label>
       
        
            </div>
            
            <div class="form-group" id ="viewDisplay">
                <label for="view">View</label>
        
                  <select id = "View">
                    <% for(var i=0; i < view.length; i++) { %>
                      <option value = "<%=view[i]._id %>"><%=view[i].viewName %></option>
        
                       <% } %>
                    </select>
                </div>
                 
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
  </div>
 <style>
    body{
      padding-top: 100px;
    }
 </style>
 <script>
   $("input[type='radio']").click(function () {  
    if (this.id == "notglobal") {
        $("#viewDisplay").show('slow');
    } else {
        $("#viewDisplay").hide('slow');
    }
});
</script>
 </html>
