
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Starter Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/common.css>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/action">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/role">Role</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/view" >View</a>
      </li>
      
    </ul>
    
  </div>
</nav>

<main role="main" class="container">
    
        <a href="role/rol/add" class="btn btn-primary">Add New Role</a>
      
  <div class="starter-template">
    <h1>Role </h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">is Global</th>
          <th scope="col">action</th>
           
        </tr>
      </thead>
      <tbody>
        <% let counter=1 %>
        <% role.forEach(item=>{%>

          <tr>
              <td ><%=counter++ %></td>
            <td ><%=item.roleName %></td>

            <td ><%=item.action %></td>
            <td ><%=item.view %></td>
            
            <td >
              <a href="role/<%=item._id%>" class="btn btn-primary">Details</a></td><td>
             
                  
              
              <!-- 
              <td >
                  <a class="btn btn-primary">Details</a>
                </td> -->
          </tr>
       <% }) %>
         
      </tbody>
    </table>
  </div>
 <style>
    body{
      padding-top: 100px;
    }
 </style>
 </html>
